lib/msms_linux/* linguist-vendored=true
lib/rosetta_linux/* linguist-vendored=true
PDB_Energy_Analysis/lib/msms_linux/* linguist-vendored=true
PDB_Energy_Analysis/lib/rosetta_linux/* linguist-vendored=true
